In [1]:
import warnings
import numpy as np
import pandas as pd

warnings.filterwarnings('ignore')
pd.options.display.max_rows = None
pd.options.display.max_columns = None
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
df = pd.read_csv("C:/Users/Lenovo/Documents/Laptop Price Dataset/laptop_prices.csv")

In [3]:
df.shape

(11768, 11)

In [4]:
df.dtypes

Brand                    object
Processor                object
RAM (GB)                  int64
Storage                  object
GPU                      object
Screen Size (inch)      float64
Resolution               object
Battery Life (hours)    float64
Weight (kg)             float64
Operating System         object
Price ($)               float64
dtype: object

In [5]:
len(df)

11768

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
len(df) # no duplicated rows

11768

In [8]:
df.isnull().sum()

Brand                   0
Processor               0
RAM (GB)                0
Storage                 0
GPU                     0
Screen Size (inch)      0
Resolution              0
Battery Life (hours)    0
Weight (kg)             0
Operating System        0
Price ($)               0
dtype: int64

In [9]:
df.describe()

,RAM (GB),Screen Size (inch),Battery Life (hours),Weight (kg),Price ($)
count,11768.00,11768.00,11768.00,11768.00,11768.00
mean,24.85,15.21,8.03,2.34,2183.57
std,21.76,1.44,2.31,0.67,1316.89
min,4.00,13.30,4.00,1.20,279.57
25%,8.00,14.00,6.00,1.76,1272.05
50%,16.00,15.60,8.00,2.34,1840.87
75%,32.00,16.00,10.00,2.91,2698.37
max,64.00,17.30,12.00,3.50,10807.88

* Average Price by Brand: Compare the average price of laptops across different brands.

In [10]:
df.pivot_table(values='Price ($)', index='Brand', aggfunc=np.mean)

           Price ($)
Brand
Acer         1914.11
Apple        2915.36
Asus         1927.32
Dell         1972.27
HP           1938.52
Lenovo       1978.47
MSI          2517.55
Microsoft    1975.20
Razer        2695.21
Samsung      1959.01

* Most Common RAM Size: Identify the most popular RAM size among laptops.

In [14]:
df.pivot_table(values='RAM (GB)', index=df['RAM (GB)'].astype(str), aggfunc='count')

          RAM (GB)
RAM (GB)
16            2361
32            2410
4             2361
64            2340
8             2296

* Average Battery Life by Operating System: Compare battery life across Windows, macOS, and Linux.

In [15]:
df.columns

Index(['Brand', 'Processor', 'RAM (GB)', 'Storage', 'GPU',
       'Screen Size (inch)', 'Resolution', 'Battery Life (hours)',
       'Weight (kg)', 'Operating System', 'Price ($)'],
      dtype='object')

In [16]:
df.pivot_table(values='Battery Life (hours)', index='Brand', aggfunc=np.mean)

           Battery Life (hours)
Brand
Acer                       8.06
Apple                      8.09
Asus                       8.04
Dell                       8.04
HP                         8.11
Lenovo                     8.12
MSI                        7.81
Microsoft                  7.97
Razer                      8.02
Samsung                    8.03

* Weight Distribution: Analyze the distribution of laptop weights to identify lightweight vs. heavy models.

In [19]:
np.max(df['Weight (kg)']), np.min(df['Weight (kg)'])

(3.5, 1.2)

In [22]:
2.7 + 0.5

3.2

In [23]:
def weight_distribution(x):
    if 1.2 <= x < 1.7:
        return '1.2-1.7'
    elif 1.7 <= x < 2.2:
        return '1.7-2.2'
    elif 2.2 <= x < 2.7:
        return '2.2-2.7'
    elif 2.7 <= x < 3.2:
        return '2.7-3.2'
    else:
        return '3.2+'

In [24]:
df['Weight distribution(kg)'] = df['Weight (kg)'].apply(weight_distribution)

In [27]:
df.pivot_table(values='Weight (kg)', index='Weight distribution(kg)', aggfunc='count')

                         Weight (kg)
Weight distribution(kg)
1.2-1.7                         2631
1.7-2.2                         2517
2.2-2.7                         2542
2.7-3.2                         2517
3.2+                            1561

* Screen Size Popularity: Determine the most common screen size.

In [29]:
df.pivot_table(values='Screen Size (inch)', index=df['Screen Size (inch)'].astype(str), aggfunc='count')

                    Screen Size (inch)
Screen Size (inch)
13.3                              2402
14.0                              2443
15.6                              2331
16.0                              2258
17.3                              2334

* Price Range Distribution: Categorize laptops into price ranges

In [30]:
np.max(df['Price ($)']), np.min(df['Price ($)'])

(10807.88, 279.57)

In [36]:
def price_distribution(x):
    if 279 <= x < 2779:
        return '279-2779'
    elif 2779 <= x < 5279:
        return '2779-5279'
    elif 5279 <= x < 7779:
        return '5279-7779'
    elif 7779 <= x < 10279:
        return '7779-10279'
    else:
        return '10279+'

In [37]:
df['Price distribution($)'] = df['Price ($)'].apply(price_distribution)

In [38]:
df.pivot_table(values='Price ($)', index='Price distribution($)', aggfunc='count')

                       Price ($)
Price distribution($)
10279+                         7
2779-5279                   2291
279-2779                    9035
5279-7779                    401
7779-10279                    34

* Price vs. Performance: Analyze how price correlates with specifications like RAM, GPU, and Processor.

In [39]:
df.pivot_table(values='Price ($)', index='RAM (GB)', aggfunc=np.mean)

          Price ($)
RAM (GB)
4           1387.71
8           1551.72
16          1855.33
32          2486.66
64          3625.58

In [40]:
df.pivot_table(values='Price ($)', index='GPU', aggfunc=np.mean)

                    Price ($)
GPU
AMD Radeon RX 6600    2290.89
AMD Radeon RX 6800    2319.74
Integrated            1500.88
Nvidia GTX 1650       2290.88
Nvidia RTX 2060       2273.02
Nvidia RTX 3060       2337.06
Nvidia RTX 3080       2259.62

In [42]:
df.pivot_table(values='Price ($)', index='Processor', aggfunc=np.mean)

             Price ($)
Processor
AMD Ryzen 3    1534.92
AMD Ryzen 5    1862.02
AMD Ryzen 7    2277.77
AMD Ryzen 9    3067.29
Intel i3       1555.67
Intel i5       1829.13
Intel i7       2300.94
Intel i9       3084.51

* GPU Popularity: Identify the most common GPUs in the dataset.

In [43]:
df['GPU'].value_counts()

GPU
Nvidia RTX 2060       1746
Nvidia GTX 1650       1698
Nvidia RTX 3060       1679
AMD Radeon RX 6600    1676
AMD Radeon RX 6800    1669
Integrated            1653
Nvidia RTX 3080       1647
Name: count, dtype: int64

* Processor Trends: Analyze the distribution of processors.

In [44]:
df['Processor'].value_counts()

Processor
Intel i3       1570
Intel i7       1509
AMD Ryzen 3    1500
AMD Ryzen 9    1472
Intel i9       1456
Intel i5       1429
AMD Ryzen 5    1422
AMD Ryzen 7    1410
Name: count, dtype: int64

* Average Storage by Brand: Compare storage capacity across brands.

            512GB SSD	2TB SSD	    256GB SSD	1TB SSD	    1TB HDD	
Apple	    268	        259	        247	        221	        267	
HP	        231	        248	        255	        237	        237	
MSI	        245	        232	        207	        254	        252	
Microsoft	245	        247	        229	        234	        220	
Dell	    240	        274	        194	        248	        214	
Asus	    250	        233	        214	        228	        240	
Acer	    247	        233	        239	        222	        224	
Samsung	    228	        223	        265	        232	        215	
Lenovo	    241	        243	        218	        217	        226	
Razer	    225	        223	        250	        220	        207